<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685794116042-9oth5pvqt048kf4a9u8gurukuhhead69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685794116042-9oth5pvqt048kf4a9u8gurukuhhead69</string>
	<key>API_KEY</key>
	<string>AIzaSyDlplLI9WeyRCFz5feX-70Ee_P5L2IazX4</string>
	<key>GCM_SENDER_ID</key>
	<string>685794116042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>fypuni-ac053</string>
	<key>STORAGE_BUCKET</key>
	<string>fypuni-ac053.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685794116042:ios:19942cfa7918402c0b8f33</string>
</dict>
</plist>